<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flask 透過 Ajax 顯示表格</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> -->

    </head>
    <body>

        <div class="warp">
            <div id="input_data">
                <label class="label">選取的表名: </label>

                <select id="input_value" name="input_value">
                    {% for i in exchanges %}	
                    <option>{{ i }}</option>
                    {% endfor %}
                </select>
                <!-- <input  type="text" id="input_value" name="input_value"/> -->
                <label class="label">輸入關鍵字:</label>
                <select id="input_value2" name="input_value2">
                    {% for i in symbols %}	
                    <option>{{ i }}</option>
                    {% endfor %}
                </select>
                <!-- <input  type="text" id="input_value2" name="input_value2"/> -->
                <button class="main_btn">查看表資料</button>
            </div>

            <table id="table_data" class="table_data">
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
                
                <!-- {% for item in instruments %}
                <tr>
                    <td>{{ item.名稱 }}</td>
                    <td>{{ item.周期 }}</td>
                    <td>{{ item.張數 }}</td>
                    <td>
                        {% if item.方向 == 1 %}
                            <span class="badge bg-danger">做多</span>
                        {% elif item.方向 == -1 %}
                            <span class="badge bg-danger">做空</span>
                        {% else %}
                            <span class="badge bg-success">平倉</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %} -->
            </table>
        </div>

        <script type=text/javascript>

            $(".main_btn").click(function(){
                $.ajax({
                    url:"/test9",
                    type:'POST',
                    data: {'mydata':$('select[id="input_value"]').val(), 'mydata2':$('select[id="input_value2"]').val()},
                    dataType:"json",
                    success:function (x) {  

                        for(var i=0;i<x.length;i++){
                            var item=x[i];
                            // 生成dataframe的columns表頭
                            if (i==0){
                                console.log(item);

                                var table_title = "<tr>"        
                                for(var k=0;k<x[i].length;k++){
                                    console.log(x[0][k]);
                                    table_title += "<th>" + x[0][k] + "</th>"  
                                }
                                table_title += "</tr>" 
                                console.log(table_title);
                                $("#table_data").html("");  //把資料清空
                                $("#table_data").append(table_title);    
                            }
                            // 生成dataframe的資料內容
                            else{
                                var item_html="<tr>"
                                for(var j=0;j<item.length;j++){
                                    item_html = item_html + "<td>" + item[j] + "</td>"
                                }
                                item_html = item_html + "</tr>"
                                $("#table_data").append(item_html);
                            }        
                        }

                    }
                });
            });
        </script> 


    </body>
</html>